html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title ExpertOne

    link(rel="stylesheet" href="lib/choices/choices.min.css")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body.expert-one
    main.expert-one__card.card
      .wrap
        .card__header.header
          include ../modules/header
        .card__speaker.speaker
          include ../modules/speaker
        .card__service.service
          include ../modules/service
        .card__service.progress
          include ../modules/progress
        .card__service.video
          include ../modules/video
        .card__service.biography
          include ../modules/biography
        .card__service.topics
          include ../modules/topics
        .card__service.books
          include ../modules/books
        .card__service.reviews
          include ../modules/reviews
      
      
      
      
      
      
    script(src="lib/choices/choices.min.js")
    script(src="js/polyfill.min.js")
    script(src="js/script.js")