html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title ExpertOne

    link(rel="stylesheet" href="lib/choices/choices.min.css")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body.expert-one
    main.expert-one__card.card
      .card__header.header
        .header__wrap
          include ../modules/header
      .card__hover-wrap
        .wrap
          include ../modules/speaker
      .wrap
        .card__technical.technical
          include ../modules/technical
        .card__progress.progress
          include ../modules/progress
        .card__hashtags.hashtags
          include ../modules/hashtags
        .card__video.video
          include ../modules/video
        .card__biography.biography
          include ../modules/biography
        .card__topics.topics
          include ../modules/topics
        .card__books.books
          include ../modules/books
        .card__reviews.reviews
          include ../modules/reviews
        .card__loading.loading
      
    script(src="lib/jquery3.4.1.js")
    script(src="lib/choices/choices.min.js")
    script(src="js/polyfill.min.js")
  
    script(src="js/script.js")
    script(src="js/card.js")