doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title ExpertOne
    link(rel="stylesheet" href="lib/choices/choices.min.css")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body.expert-one
    main.expert-one__home-page.home-page
      .home-page__header.header
        .header__wrap
          include ../modules/header
      .wrap
        .home-page__search.search
          include ../modules/search
        .home-page__filter.filter
          include ../modules/filter
        .home-page__speakers.speakers
          include ../modules/speakers

    script(src="lib/choices/choices.min.js")
    script(src="lib/jquery3.4.1.js")
    script(src="js/polyfill.min.js")
    script(src="js/script.js")
    
