doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title ExpertOne
    link(rel="stylesheet" href="lib/choices/choices.min.css")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body
    main
      .expert-one
        .wrap
          button.expert-one_btn.expert-one_btn--signin Авторизация
          button.expert-one_btn.expert-one_btn--signup Регистрация
          a(href="index.html").expert-one_btn Вернуться на главную
        include ../modules/popup-auth

    script(src="lib/jquery3.4.1.js")
    script(src="lib/choices/choices.min.js")
    script(src="lib/imask.js")
    script(src="js/polyfill.min.js")
  
    script(src="js/script.js")
    script(src="js/popup-auth.js")
    
