@mixin arrow {
  &:after {
    content: '';
    position: absolute;
    border: none;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid $blue;
    border-right: 2px solid $blue;
    transition: 
      transform 0.4s,
      border-color 0.4s;
  }
}