@mixin btn {
  transition: 
    color 0.4s,
    background-color 0.4s;
  display: block;
  width: 100%;
  padding: 18px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-main;
  background-color: $blue;
  color: $white;
  cursor: pointer;

  &:hover {
    outline: none;
    background-color: #2e3e80;
  }

  &:active, &:focus {
    outline: none;
    background-color: #253369;
  }

  &:disabled {
    background-color: #888888;
  }

  &--white {
    background-color: $white;
    color: #3d4f9c;

    &:hover {
      outline: none;
      opacity: 0.9;
    }
  
    &:active, &:focus {
      outline: none;
      opacity: 0.7;
    }

    &:disabled {
      background-color: #b3b3b3;
    }
  }
}