@mixin close-btn {
  position: absolute;
  top: 16px;
  right: 5px;
  width: 32px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: #999999;
    transform: translate(-50%);
    transition: 0.4s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    outline: none;
    &::after, &::before {
      background-color: $blue;
    }
  }

  &:focus, &:active {
    outline: none;
    &::after, &::before {
      background-color: #253369;
    }
  }
}