.expert-one {
  .card {
    padding-bottom: 60px;
    background-color: $white;
    .speaker__photo {
      cursor: default;
    }
  }

  .card__hover-wrap {
    margin-bottom: 23px;
  }

  .card__title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }

  .card__technical {
    width: 100%;
  }

  .card__technical,
  .card__progress,
  .card__hashtags,
  .card__video,
  .card__biography,
  .card__topics,
  .card__books,
  .card__reviews {
    width: 100%;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .expert-one {

    .card__title {
      font-size: 22px;
      line-height: 30px;
    }
  }
}
