.expert-one {
  .card {
    padding-bottom: 60px;
  }

  .card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}



// @media (min-width: $tablet-width) {}
@media (min-width: $desktop-width) {
  .expert-one {
    .card__title {
      font-size: 22px;
      line-height: 30px;
    }
  }
}