.expert-one {
  .contacts {}

  .contacts__title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: $black;
  }

  .contacts__link {
    font-size: 16px;
    line-height: 26px;
  }

  .contacts__link--mail,
  .contacts__link--site {
    transition: 
      color 0.4s,
      border 0.4s;
    display: block;
    color: #3d4f9c;

    &:hover {
      color: #2e3e80;
      &::after {
        border-color: #2e3e80;
      }
    }
  
    &:focus, &:active {
      color: #2a3975;
      &::after {
        border-color: #2a3975;
      }
    }
  }

  .contacts__link--mail,
  .contacts__link--tel {
    & + .contacts__input-wrap {
      .input-wrap__input {
        margin-bottom: 0;
      }
    }
  }

  .contacts__link--tel {
    @include animation;
  }
}
