.expert-one {
  .date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-top: 24px;

    background-color: $white;
    .download__label {
      display: none;
    }
  }

  .date-time__date {
    display: block;
    color: $black;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .expert-one {
    .date-time {
      padding-left: 30px;
      padding-right: 30px;

      .download__label {
        display: block;
      }
    }

    .date-time__date {
      color: $black;
      font-size: 18px;
      line-height: 18px;
    }

  }
}