.expert-one {
  .form-auth {
    position: relative;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 44px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 57px;

    background-color: white;
  }

  .form-auth__close {
    @include close-btn;
  }

  .form-auth__btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 16px;
    color: #888888;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      outline: none;
      color: #2e3e80;

      .form-auth__arrow {
        border-color: #2e3e80;

        &::after {
          border-color: #2e3e80;
        }
      }
    }

    &:focus,
    &:active {
      outline: none;
      color: #253369;

      .form-auth__arrow {
        border-color: #253369;

        &::after {
          border-color: #253369;
        }
      }
    }
  }

  .form-auth__arrow {
    @include arrow-circle;
    margin-right: 10px;
    display: inline-block;
  }

  .form-auth__form {
    text-align: left;
  }

  .form-auth__label {
    @include label;
    display: block;
    margin-bottom: 8px;
  }

  .form-auth__input {
    @include input;
  }

  .form-auth__select {
    @include select;

    .choices__list--single {
      .choices__item {
        color: $black;
      }
    }

    .choices__inner {
      font-size: 16px;
    }

  }

  .form-auth__privacy,
  .form-auth__privacy-link {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }

  .form-auth__privacy {
    color: #888888;
  }

  .form-auth__privacy-link {
    @include animation;
    color: #2e3e80;
    text-decoration: underline;
  }

  .form-auth__submit {
    cursor: auto;
    transition: 0.4s;
    display: block;
    width: 100%;
    padding: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    line-height: 14px;
    font-family: $font-main;
    background-color: #888888;
    color: $white;

    &:hover {
      outline: none;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &.active {
      cursor: pointer;
      background-color: $blue;

      &:hover {
        background-color: #2e3e80;
      }

      &:active,
      &:focus {
        background-color: #253369;
      }
    }

    & + .form-auth__invalid-message {
      top: 50px;
    }
  }

  .form-auth__invalid-message {
    opacity: 0;
    position: absolute;
    top: 73px;
    left: 0;
    color: $red;
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    transition: 0.4s;
    &.active {
      opacity: 1;
    }
  }

  .form-auth__wrap-hint {
    position: relative;
  }

}

@media (min-width: $tablet-width) {
  .expert-one {
    .form-auth {
      max-width: 450px;
      padding: 50px;
      padding-bottom: 57px;

      border-radius: 5px;
    }
  }
}
