@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

.expert-one {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  min-width: $mobile-width;
  overflow-x: hidden;
  @include text;
  background-color: #eff0f3;

  a {
    text-decoration: none;
    @include text;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .visually-hidden {
    @include visually-hidden;
  }

  .wrap {
    position: static;
    margin-left: 15px;
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      width: 800px;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
    }
  }

  &.no-scroll {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;

    @media (min-width: $tablet-width) {
      height: auto;
      width: auto;
      position: relative;
      overflow: visible;
    }
  }

  .expert-one_btn {
    @include btn;
    width: auto;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  // .expert-one__order-technical {}

  .dissolve {
    opacity: 0;
  }
}