.expert-one {
  .header {
    background-color: $white;

    &.active {
      .header__burger-icon {
        &::before {
          box-shadow: none;
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }

  .header__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 27px;
  }

  .header__logo {
    margin-right: 21px;
    padding-left: 45px;

    a {
      display: block;
      line-height: 0;
      @include animation;
    }
  }

  .header__burger {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 5;
    order: -1;

    margin-right: 20px;
    background-color: transparent;
    border: none;

    &:hover, &:focus, &:active {
      outline: none;
    }
  }

  .header__burger-icon {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    @include animation;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 22px;
      height: 2px;
      background-color: $black;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.4s;
    }

    &::before {
      top: 2px;
      box-shadow: 0 8px 0 0 $black;
    }

    &::after {
      top: 18px;
    }
  }

  .service__label {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .expert-one {
    .header__wrap {
      margin: 0 auto;
      width: 800px;
      padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 0;
      padding-right: 14px;
    }

    .header__logo {
      padding-left: 0;
    }

    .header__burger {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .expert-one {
    .header__wrap {
      padding-top: 3px;
      padding-bottom: 0;

      @media (min-width: $desktop-width) {
        width: 1050px;
      }
    }
  }
}
