.expert-one {
  .management {
    padding-left: 20px;
    padding-top: 32px;
    padding-right: 20px;
    padding-bottom: 23px;
    background-color: $white;
  }

  .management__btn {
    @include btn;
    border: 2px solid #3d4f9c;
    margin-bottom: 21px;
    padding-top: 16px;
    padding-bottom: 16px;

    &--add,
    &--clear {
      @include animation;
      background-color: $white;
      font-weight: 500;

      &:hover,
      &:active,
      &:focus {
        background-color: $white;
      }
    }

    &--add {
      color: #3d4f9c;
    }

    &--clear {
      color: #eb5757;
      border-color: #eb5757;
    }
  }

  .management__download {
    padding-top: 8px;
    justify-content: center;

    .download__label {
      display: none;
    }

    .download__link {
      margin-right: 20px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .expert-one {
    .management {
      width: 520px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .management__download {
      padding-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .expert-one {
    .management {
      display: flex;
      flex-wrap: wrap;
      width: 770px;
      justify-content: flex-start;
    }

    .management__btn {
      width: auto;
      margin-right: 10px;
      margin-bottom: 0;
    }

    .management__download {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .download__link {
        margin-right: 10px;
      }
    }
  }
}