.expert-one {
  .orders__header {}

  .orders__title {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;

    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
  }

  .orders__title-num {
    color: #888888;
    margin-left: 10px;
  }

  .orders__date {
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 27px;
  }
}

@media (min-width: $tablet-width) {
  .expert-one {
    .orders__title {
      margin-bottom: 28px;
    }

    .orders__title-wrap {
      position: relative;
    }

    .orders__date {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin: 0;
    }
  }
}

// @media (min-width: $desktop-width) {.expert-one {}}