.expert-one {
  .popup-auth {
    @include popup;
    text-align: center;
    background-color: rgba(5, 8, 21, .85);
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .popup-auth__close {
    @include close-btn;
    position: absolute;
    top: 70px;
    right: 15px;
  }

  .popup-auth__auth {
    margin-bottom: 20px;
  }

  .popup-auth__form-auth {
    background-color: $white;
    margin-bottom: 20px;
  }

  .popup-auth__thanks {
    background-color: $white;
    margin-bottom: 20px;
  }

}

// @media (min-width: $tablet-width) {
//   .expert-one {}
// }

// @media (min-width: $desktop-width) {
//   .expert-one {}
// }