.expert-one {
  .popup-auth {
    @include popup;
    display: none;
    opacity: 0;
    transition: 0.4s;
    text-align: center;
    background-color: rgba(5, 8, 21, .85);
    padding-bottom: 50px;
    padding-top: 50px;

    &--auth {
      z-index: 10;
    }

    &--form {
      z-index: 11;
    }

    &--thanks {
      z-index: 12;
    }

    &.active {
      display: block;
      opacity: 1;
    }
  }

  .popup-auth__auth {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .popup-auth__form-auth {
    background-color: $white;
    margin-bottom: 20px;
  }

  .popup-auth__thanks {
    background-color: $white;
    margin-bottom: 20px;
  }

}

@media (min-width: $tablet-width) {
  .expert-one {
    .popup-auth {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &.active {
        display: flex;
      }
  }
}
}

// @media (min-width: $desktop-width) {
//   .expert-one {}
// }