.expert-one {
  .technical {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #eff0f3;
    border-radius: 5px;
  }

  .technical__title {
    min-width: 50%;
    text-align: left;
    flex-grow: 1;
  }

  .technical__edit-btn {
    position: relative;
    transition: 0.4s;

    text-align: right;

    background-color: transparent;
    border: none;
    padding-left: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -10px;
    margin-bottom: 10px;

    font-family: $font-main;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #999999;
    path {
      transition: 0.4s;
    }

    &:hover {
      outline: none;
      color: #2e3e80;
      path {
        fill:#2e3e80;
      }
    }
  
    &:focus, &:active {
      outline: none;
      color: #253369;
      path {
        fill:#253369;
      }
    }

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .technical__wrap {
    width: 100%;
  }

  .technical__wrap-back {
    width: 100%;
    background-color: $white;
    border: 1px solid #dfe0e4;
    border-radius: 5px;
    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .technical__contacts {}

  .technical__verify {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;

    &.active {
      .technical__verify-ok {
        display: block;
      }

      .technical__verify-no {
        display: none;
      }
    }
  }

  .technical__verify-ok,
  .technical__verify-no {
    padding-left: 26px;
    padding-top: 2px;
    padding-bottom: 2px;

    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px auto;
  }

  .technical__verify-ok {
    display: none;
    color: #219653;
    background-image: url(../img/verify-ok.svg);
  }

  .technical__verify-no {
    display: block;
    color: #eb5757;
    background-image: url(../img/verify-no.svg);
  }

  .technical__sub-title {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }

  .technical__desc {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
  }
}

@media (min-width: $tablet-width) {
  .expert-one {
    .technical {
      padding-bottom: 30px;
    }
  .technical__wrap {
    margin-bottom: 0;
    &--1 {
      width: 210px;
      margin-right: 10px;
    }
    &--2 {
      width: 180px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      .technical__wrap-back {
        flex-grow: 1;
        align-items: center;
        justify-content: flex-start;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
    &--3 {
      flex-grow: 1;
      width: 250px;
    }
  }

  .technical__wrap-back {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .technical__title {
    min-width: 75%;
    text-align: left;
    flex-grow: 1;
  }
  
  .technical__edit-btn {
    width: auto;
  }
}
}

@media (min-width: $desktop-width) {
  .expert-one {
    .technical__wrap {
      &--1 {
        width: 240px;
      }
    }
  }
}