.expert-one {
.topics {
  padding-bottom: 40px;
  border-bottom: 1px solid #e7e7e7;
}
.topics__title {}

.topics__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topics__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 24px;
  color: #555555;

  &::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3d4f9c;
  }
}
}

@media (min-width: $tablet-width) {
  .expert-one {
    .topics__list {
      display: flex;
      flex-wrap: wrap;
    }

    .topics__item {
      width: 370px;
      margin-right: 30px;
      margin-bottom: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .expert-one {
    .topics {
      padding-bottom: 25px;
    }

    .topics__title {
      margin-bottom: 25px;
    }

    .topics__item {
      width: 490px;
    }
  }
}