h2.auth__title Авторизация
p.auth__desc.auth__desc--signin Чтобы войти на сайт, пожалуйста, авторизуйтесь через соцсети
p.auth__desc.auth__desc--signup Прежде чем приступить к работе с сайтом — пройдите регистрацию
.auth__social-enter.social-enter
  span.social-enter__label Войдите через:
  ul.social-enter__list
    li.social-enter__item
      a.social-enter__link(href="#")
        img(src="./img/social-vk-full.svg", alt="вконтакте" width="50" height="50")
    li.social-enter__item
      a.social-enter__link(href="#")
        img(src="./img/social-fb-full.svg", alt="фейсбук" width="50" height="50")
.auth__user-profile.user-profile
  span.user-profile__label Вы вошли как:
  a.user-profile__wrap
    .user-profile__photo
      img(src="./img/social-vk-photo.jpg", alt="фотография из соцсети")
    .user-profile__desc
      span.user-profile__name Роман Морозов
      .user-profile__social-wrap
        img(src="./img/social-vk-full.svg", alt="вконтакте" width="15" height="15")
        span.user-profile__social ВКонтакте
.auth__btn.auth__btn--signin Продолжить
.auth__btn.auth__btn--signup Зарегистрироваться
a.auth__help(href="#") Нужна помощь?
a.auth__change(href="#") Сменить авторизацию