h3.card__title.books__title Автор книг
ul.books__list
  li.books__item
    h4.books__title-book Харизма лидера
    span.books__year 2013 г.
  li.books__item
    h4.books__title-book Камасутра для оратора. Десять глав о том, как получать и доставлять максимальное удовольствие, выступая публично.
    span.books__year 2013 г.
  li.books__item
    h4.books__title-book Полная ж: жизнь как бизнес-проект
    span.books__year 2013 г.
  li.books__item
    h4.books__title-book Книга о бизнесе раз
    span.books__year 2013 г.
  li.books__item
    h4.books__title-book Еще одна книга о бизнесе
    span.books__year 2013 г.