.client-order__wrap-color
  .client-order__sub-wrap
    span.client-order__label Дата
    span.client-order__date 16.04.2020
  .client-order__sub-wrap
    span.client-order__label Статус
    .client-order__select-wrap
      select.client-order__select
.client-order__wrap
  .client-order__wrap-border
    .client-order__sub-wrap
      span.client-order__label Заказчик
      a.client-order__name(href="#") Петрова Екатерина 
    .client-order__sub-wrap
      span.client-order__label Компания
      span.client-order__company ООО "Название компании"
    .client-order__sub-wrap
      span.client-order__label Телефон
      a(href="tel:+71234567890").client-order__tel +7 123 456 78 90
    .client-order__sub-wrap
      span.client-order__label E-mail
      a(href="mailto:+71234567890").client-order__mail primerprimerprimer@mail.ru
  .client-order__wrap-border
    .client-order__wrap-speaker
      span.client-order__label Спикеры:
      .client-order__speaker-link.speaker-link
        ul.speaker-link__list
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Дейв Логан,
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Коди Фостер,
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Марк Гоулстон,
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Дейв Логан,
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Петров Федор,
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Ковалевская Светлана,
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Марк Гоулстон,
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Дейв Логан,
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Петров Федор,
          li.speaker-link__item
            a.speaker-link__link(href="#" onclick="return false") Ковалевская Светлана
        button.speaker-link__expand(type="button" aria-label="раскрыть весь список спикеров")