h2.customer-data__title Мои данные
.customer-data__wrap-main
  .customer-data__wrap
    span.customer-data__wrap-title Миронова Василиса
    .customer-data__input-wrap.input-wrap
      input.input-wrap__input(type="text" name="name" placeholder="Изменить имя")
      p.input-wrap__invalid-message неверно введено имя
    span.customer-data__position TND менеджер
    .customer-data__input-wrap.input-wrap
      input.input-wrap__input(type="text" name="name" placeholder="Изменить должность")
      p.input-wrap__invalid-message неверно введена должность
  .customer-data__wrap
    span.customer-data__wrap-title ВТБ Банк
    .customer-data__input-wrap.input-wrap
      input.input-wrap__input(type="text" name="name" placeholder="Изменить банк")
      p.input-wrap__invalid-message неверно введен банк
  .customer-data__wrap
    .customer-data__contacts.contacts
      a.contacts__link.contacts__link--mail(href="mailto:mironova@mail.ru") mironova@mail.ru
      .contacts__input-wrap.input-wrap
        input.input-wrap__input(type="text" name="name" placeholder="Изменить почту")
        p.input-wrap__invalid-message неверно введен e-mail
      a.contacts__link.contacts__link--tel(href="tel:+74955555555") +7 495 555 55 55
      .contacts__input-wrap.input-wrap
        input.input-wrap__input(type="text" name="name" placeholder="Изменить телефон")
        p.input-wrap__invalid-message неверно введен телефон
      a.contacts__link.contacts__link--site(href="mironova.com" target="_blank") mironova.com
      .contacts__input-wrap.input-wrap
        input.input-wrap__input(type="text" name="name" placeholder="Изменить сайт")
        p.input-wrap__invalid-message неверно введен сайт

  .customer-data__wrap.customer-data__wrap--save-btn
    button.customer-data__btn.customer-data__btn--save(type="submit") Сохранить данные
    p.customer-data__invalid-message Пользователь с таким номером телефона или e-mail уже существует.
  .customer-data__wrap.customer-data__wrap--edit-btn
    button.customer-data__btn.customer-data__btn--edit(type="button") Редактировать данные
      svg(width="14" height="14" viewBox="0 0 19 18" fill="none")
        path(d="M15.9346 0.724575C14.9668 -0.241525 13.3996 -0.241525 12.4318 0.724575L11.5549 1.60621L2.22108 10.9351L2.20124 10.9551C2.19644 10.9599 2.19644 10.965 2.19132 10.965C2.1814 10.9799 2.16653 10.9946 2.15676 11.0095C2.15676 11.0144 2.15165 11.0144 2.15165 11.0194C2.14173 11.0343 2.13693 11.0442 2.12685 11.0591C2.12205 11.064 2.12205 11.0688 2.11709 11.074C2.11213 11.0888 2.10717 11.0988 2.10206 11.1136C2.10206 11.1184 2.09725 11.1184 2.09725 11.1236L0.0263543 17.351C-0.034395 17.5283 0.0117868 17.7246 0.145218 17.8562C0.238977 17.9487 0.365434 18.0005 0.497006 18C0.550782 17.9991 0.604092 17.9907 0.655543 17.9752L6.87816 15.8993C6.88296 15.8993 6.88296 15.8993 6.88808 15.8945C6.90373 15.8899 6.91876 15.8832 6.93256 15.8745C6.93643 15.8741 6.93984 15.8724 6.94263 15.8697C6.95735 15.8598 6.97719 15.8498 6.99206 15.8398C7.00679 15.8301 7.02182 15.8152 7.0367 15.8053C7.04166 15.8002 7.04646 15.8002 7.04646 15.7954C7.05157 15.7904 7.06149 15.7856 7.06645 15.7755L17.2771 5.56484C18.2432 4.59703 18.2432 3.02979 17.2771 2.06214L15.9346 0.724575ZM6.71962 14.735L3.27148 11.287L11.9018 2.65677L15.3499 6.10476L6.71962 14.735ZM2.7858 12.2036L5.79816 15.2158L1.27481 16.7218L2.7858 12.2036ZM16.5787 4.87118L16.0535 5.40134L12.6052 1.95304L13.1355 1.42304C13.7156 0.843439 14.6558 0.843439 15.236 1.42304L16.5835 2.77052C17.1592 3.35322 17.157 4.29127 16.5787 4.87118Z" fill="#999999")
  .customer-data__wrap
    button.customer-data__btn.customer-data__btn--exit(type="button") Выйти из профиля
      svg(width="14" height="14" viewBox="0 0 14 14" fill="none")
        path(d="M6.97676 12.8334H1.74418C1.42324 12.8334 1.16279 12.572 1.16279 12.25V1.75002C1.16279 1.42801 1.42327 1.1667 1.74418 1.1667H6.97676C7.29827 1.1667 7.55815 0.905955 7.55815 0.583376C7.55815 0.260796 7.29827 0 6.97676 0H1.74418C0.782551 0 0 0.785187 0 1.75002V12.25C0 13.2148 0.782551 14 1.74418 14H6.97676C7.29827 14 7.55815 13.7393 7.55815 13.4167C7.55815 13.0941 7.29827 12.8334 6.97676 12.8334Z" fill="#EB5757")
        path(d="M13.827 6.58469L10.2921 3.08469C10.0641 2.85835 9.69555 2.86128 9.46997 3.09053C9.24438 3.31978 9.24671 3.68902 9.47579 3.91536L12.0019 6.41668H5.23275C4.91124 6.41668 4.65137 6.67742 4.65137 7C4.65137 7.32258 4.91124 7.58335 5.23275 7.58335H12.0019L9.47579 10.0847C9.24673 10.311 9.24498 10.6803 9.46997 10.9095C9.58391 11.025 9.73392 11.0833 9.88393 11.0833C10.0316 11.0833 10.1793 11.0273 10.2921 10.9153L13.827 7.41531C13.9374 7.30565 14.0002 7.1563 14.0002 6.99998C14.0002 6.84371 13.938 6.69495 13.827 6.58469Z" fill="#EB5757")
