span.download__label Скачать:
a.download__link(href="#")
  img(src="./img/order-page/doc.svg", alt="скачать DOC")
a.download__link(href="#")
  img(src="./img/order-page/pdf.svg", alt="скачать PDF")
a.download__link(href="#")
  img(src="./img/order-page/print.svg", alt="распечатать")