h2.filter-clients__title Заказы
  span.filter-clients__counter (128)

form.filter-clients__form(method="POST")
  input.visually-hidden(type="checkbox" id="expert-price30" name="price" value="30 000 - 50 000")
  label.filter-clients__checkbox(for="expert-price30") Все заказы

  input.visually-hidden.filter-clients__checkbox--new(type="checkbox" id="expert-price30" name="price" value="30 000 - 50 000")
  label.filter-clients__checkbox(for="expert-price30") Новые заказы

  input.visually-hidden(type="checkbox" id="expert-price30" name="price" value="30 000 - 50 000")
  label.filter-clients__checkbox.filter-clients__checkbox--work(for="expert-price30") В работе

  input.visually-hidden(type="checkbox" id="expert-price30" name="price" value="30 000 - 50 000")
  label.filter-clients__checkbox.filter-clients__checkbox--realized(for="expert-price30") Реализованы

  input.visually-hidden(type="checkbox" id="expert-price30" name="price" value="30 000 - 50 000")
  label.filter-clients__checkbox.filter-clients__checkbox--unrealized(for="expert-price30") Нереализованы