button(type="button").form-auth__btn-back #[span.form-auth__arrow.form-auth__arrow--left]Вернуться назад
form.form-auth__form.js__rf(method="POST")

  label.form-auth__label(for="auth-last-name") Фамилия*
  input.form-auth__input.js__rfield(type="text" id="auth-last-name" name="last-name" placeholder="Введите фамилию")

  label.form-auth__label(for="auth-first-name") Имя*
  input.form-auth__input.js__rfield(type="text" id="auth-first-name" name="first-name" placeholder="Введите имя")

  label.form-auth__label(for="auth-middle-name") Отчество*
  input.form-auth__input.js__rfield(type="text" id="auth-middle-name" name="middle-name" placeholder="Введите отчество")
  .form-auth__wrap-hint
    label.form-auth__label(for="auth-mail") E-mail*
    input.form-auth__input.js__rfield(type="text" id="auth-mail" name="mail" placeholder="Введите почту")
    p.form-auth__invalid-message неверно введен e-mail
  .form-auth__wrap-hint
    label.form-auth__label(for="auth-tel") Телефон*
    input.form-auth__input.form-auth__input--mask.js__rf(type="text" id="auth-tel" name="tel")
    p.form-auth__invalid-message неверно введен номер

  label.form-auth__label(for="auth-position") Должность*
  input.form-auth__input.js__rfield(type="text" id="auth-position" name="position" placeholder="Ваша должность")
  
  label.form-auth__label(for="auth-company") Компания*
  input.form-auth__input.js__rfield(type="text" id="auth-company" name="company" placeholder="Введите название компании")

  label.form-auth__label(for="auth-website") Сайт
  input.form-auth__input(type="text" id="auth-website" name="website" placeholder="Введите адрес сайта")

  label.form-auth__label(for="auth-client") Вы заказчик или агентство?
  .form-auth__select
    select.form-auth__select--client(id="auth-client")
      option(selected="selected") Заказчик
      option Агентство

  label.form-auth__label(for="auth-speakers-num") Сколько спикеров заказали за последний год?
  input.form-auth__input(type="text" id="auth-speakers-num" name="speakers-num" placeholder="0")

  label.form-auth__label(for="auth-expensive-speaker") Ваш самый дорогой спикер за последние 3 года?
  .form-auth__select
    select.form-auth__select--expensive-speaker(id="auth-expensive-speaker")
      option более 200к
      option(selected="selected") до 200к
      option до 100к
      option до 50к
      option до 30к
      option до 20к
      option до 10к
      option до 5к

  label.form-auth__label(for="auth-event-department") Есть ли собственный event-отдел?
  .form-auth__select
    select.form-auth__select--event-department(id="auth-event-department")
      option(selected="selected") Да
      option Нет

  label.form-auth__label(for="auth-external-conference") Проводите ли вы внешние конференции?
  .form-auth__select
    select.form-auth__select--external-conference(id="auth-external-conference")
      option Да
      option(selected="selected") Нет

  label.form-auth__label(for="auth-field-conference") Проводите ли выездные конференции?
  .form-auth__select
    select.form-auth__select--field-conference(id="auth-field-conference")
      option(selected="selected") Да
      option Нет

  p.form-auth__privacy Регистрируясь, вы принимаете #[a.form-auth__privacy-link(href="#" onclick="return false") Пользовательское соглашение] и даете Согласие на обработку #[a.form-auth__privacy-link(href="#" onclick="return false") персональных данных].
  .form-auth__wrap-hint
    button.form-auth__submit.js__btn-submit(type="submit") Отправить анкету на регистрацию
    p.form-auth__invalid-message Пользователь с таким номером телефона или e-mail уже существует. Попробуйте авторизоваться через Вконтакте или Facebook или обратитесь в поддержку.