.form-auth__btn-back Вернуться назад
form.form-auth__form(method="POST")

  label.form-auth__label(for="auth-") Фамилия*
  input.form-auth__input(type="text" id="auth-" name="" placeholder="Введите фамилию")

  label.form-auth__label(for="auth-") Имя*
  input.form-auth__input(type="text" id="auth-" name="" placeholder="Введите имя")

  label.form-auth__label(for="auth-") Отчество*
  input.form-auth__input(type="text" id="auth-" name="" placeholder="Введите отчество")

  label.form-auth__label(for="auth-") E-mail*
  input.form-auth__input(type="text" id="auth-" name="" placeholder="Введите почту")

  label.form-auth__label(for="auth-") Телефон*
  input.form-auth__input(type="text" id="auth-" name="" placeholder="+7 ___ ___-__-__")

  label.form-auth__label(for="auth-") Должность*
  input.form-auth__input(type="text" id="auth-" name="" placeholder="Ваша должность")

  label.form-auth__label(for="auth-") Компания*
  input.form-auth__input(type="text" id="auth-" name="" placeholder="Введите название компании")

  label.form-auth__label(for="auth-") Сайт
  input.form-auth__input(type="text" id="auth-" name="" placeholder="Введите адрес сайта")

  label.form-auth__label(for="auth-") Вы заказчик или агентство?
  .form-auth__select
    select.form-auth__select--(value="Страна" id="auth-")
      option(selected="selected") Заказчик
      option Агентство

  label.form-auth__label(for="auth-") Сколько спикеров заказали за последний год?
  input.form-auth__input(type="text" id="auth-" name="" placeholder="0")

  label.form-auth__label(for="auth-") Ваш самый дорогой спикер за последние 3 года?
  .form-auth__select
    select.form-auth__select--(value="Страна" id="auth-")
      option более 200к
      option(selected="selected") до 200к
      option до 100к
      option до 50к
      option до 30к
      option до 20к
      option до 10к
      option до 5к

  label.form-auth__label(for="auth-") Есть ли собственный event-отдел?
  .form-auth__select
    select.form-auth__select--(value="Страна" id="auth-")
      option(selected="selected") Да
      option Нет

  label.form-auth__label(for="auth-") Проводите ли вы внешние конференции?
  .form-auth__select
    select.form-auth__select--(value="Страна" id="auth-")
      option Да
      option(selected="selected") Нет

  label.form-auth__label(for="auth-") Проводите ли выездные конференции?
  .form-auth__select
    select.form-auth__select--(value="Страна" id="auth-")
      option(selected="selected") Да
      option Нет

  p.form-auth__privacy Регистрируясь, вы принимаете #[a.form-auth__privacy-link(href="#") Пользовательское соглашение] и даете Согласие на обработку #[a.form-auth__privacy-link(href="#") персональных данных].
  button.form-auth__submit(type="submit") Отправить анкету на регистрацию