ul.hashtags__list
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Бизнес
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Управление
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Экономика
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Психология
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Урбанистика
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Урбанистика
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Бизнес
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Управление
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Экономика
  li.hashtags__item
    a(href="#" onclick="return false").hashtags__hashtag #Психология