.header__logo
  a(href="./index.html")
    img(src="./img/logo.svg", alt="логотип expert one", width="150")
button(type="button").header__burger
.header__menu.menu
  .menu__wrap
    a.menu__tel(href="tel:+74951234567") +7 495 123 45 67
    ul.menu__list
      li.menu__item
        a.menu__link(href="./card-speaker.html") Спикеры
    .menu__language-wrap
      select(value="USD").menu__language
        option(disabled selected="selected") USD
        option RUB
        option EUR
.header__service.service
  .service__favourites
    button.service__service(type="button")
      span.service__label Избранное
    span.service__counter 2
  .service__basket
    a.service__service(href="#")
      span.service__label Мои заказы
    span.service__counter 1