button.auth__close(type="button" aria-label="закрыть окно авторизации")

.popup-auth__auth.auth.signin
  include auth

.popup-auth__form-auth.form-auth
  include form-auth

.popup-auth__thanks
  h2.thanks__title Благодарим за&nbsp;регистрацию!
  p.thanks__desc Ваша заявка принята, после рассмотрения менеджером вы получите доступ к сервису
