h3.card__title.progress__title Должности, достижения и награды
ul.progress__list
  li.progress__item Almost everyone faces tough financial decisions, and many don’t know where to turn for the right solutions.
  li.progress__item Almost everyone faces tough financial decisions, and many don’t know where to turn for the right solutions.
  li.progress__item Almost everyone faces tough financial decisions, and many don’t know where to turn for the right solutions.
  li.progress__item Almost everyone faces tough financial decisions, and many don’t know where to turn for the right solutions.
  li.progress__item Almost everyone faces tough financial decisions, and many don’t know where to turn for the right solutions.