h3.card__title.reviews__title Отзывы
ul.reviews__list
  li.reviews__item
    p.reviews__desc С другой стороны дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    strong.reviews__autor Алексей Леонидович Петров
    span.reviews__position Бизнесмен
  li.reviews__item
    p.reviews__desc С другой стороны дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    strong.reviews__autor Екатерина Иванова
    span.reviews__position
  li.reviews__item
    p.reviews__desc С другой стороны дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    strong.reviews__autor Роман Иванов
    span.reviews__position Дизайнер