li.speakers__speaker.speaker
  .speaker__photo
    img(src="", alt="фотография спикера")
  h2.speaker__name Максим Батырев
  .speaker__info.info
    span.info__item.info__item--country Россия
    span.info__item.info__item--lang Ru, En
    span.info__item.info__item--range 15 000 - 20 000 USD
  p.speaker__desc Единственный в России обладатель статуса Certified Speaking Professional, занимает 30 позицию в мировом рейтинге спикеров.
  .speaker__favourites
    span.speaker__favourites-text В избранном
  .speaker__availability.availability
    .availability__performance
      span.availability__title Доступность для выступления:
      span.availability__desc Да (Выступает только в ЕС)
    .availability__interview
      span.availability__title Доступность для интервью:
      span.availability__desc Да
  .speaker__order-btn Добавить в заказ
  .speaker__more-btn Подробнее