li.speakers__speaker.speaker
  .speaker__photo
    img(src="./img/photo.jpg", alt="фотография спикера")
  h2.speaker__name Константин Константинопольский
  .speaker__info.info
    span.info__item.info__item--country Россия
    span.info__item.info__item--lang Ru, En
    span.info__item.info__item--range 15 000 - 20 000 USD
  p.speaker__desc Единственный в России обладатель статуса Certified Speaking Professional, занимает 30 позицию в мировом рейтинге спикеров.
  button(type="button").speaker__favourites.active
    span.speaker__favourites-icon
    span.speaker__favourites-text В избранном
  .speaker__availability.availability
    .availability__performance
      span.availability__title Доступность для&nbsp;выступления:
      span.availability__desc Да (Tолько в ЕС)
    .availability__interview
      span.availability__title Доступность для&nbsp;интервью:
      span.availability__desc Да
  .speaker__order-btn Добавить в заказ
  a(href="./card-speaker.html").speaker__more-btn Подробнее