h3.card__title.technical__title Служебный блок
button.technical__edit-btn(type="button") Редактировать
  svg(width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M15.9346 0.724575C14.9668 -0.241525 13.3996 -0.241525 12.4318 0.724575L11.5549 1.60621L2.22108 10.9351L2.20124 10.9551C2.19644 10.9599 2.19644 10.965 2.19132 10.965C2.1814 10.9799 2.16653 10.9946 2.15676 11.0095C2.15676 11.0144 2.15165 11.0144 2.15165 11.0194C2.14173 11.0343 2.13693 11.0442 2.12685 11.0591C2.12205 11.064 2.12205 11.0688 2.11709 11.074C2.11213 11.0888 2.10717 11.0988 2.10206 11.1136C2.10206 11.1184 2.09725 11.1184 2.09725 11.1236L0.0263543 17.351C-0.034395 17.5283 0.0117868 17.7246 0.145218 17.8562C0.238977 17.9487 0.365434 18.0005 0.497006 18C0.550782 17.9991 0.604092 17.9907 0.655543 17.9752L6.87816 15.8993C6.88296 15.8993 6.88296 15.8993 6.88808 15.8945C6.90373 15.8899 6.91876 15.8832 6.93256 15.8745C6.93643 15.8741 6.93984 15.8724 6.94263 15.8697C6.95735 15.8598 6.97719 15.8498 6.99206 15.8398C7.00679 15.8301 7.02182 15.8152 7.0367 15.8053C7.04166 15.8002 7.04646 15.8002 7.04646 15.7954C7.05157 15.7904 7.06149 15.7856 7.06645 15.7755L17.2771 5.56484C18.2432 4.59703 18.2432 3.02979 17.2771 2.06214L15.9346 0.724575ZM6.71962 14.735L3.27148 11.287L11.9018 2.65677L15.3499 6.10476L6.71962 14.735ZM2.7858 12.2036L5.79816 15.2158L1.27481 16.7218L2.7858 12.2036ZM16.5787 4.87118L16.0535 5.40134L12.6052 1.95304L13.1355 1.42304C13.7156 0.843439 14.6558 0.843439 15.236 1.42304L16.5835 2.77052C17.1592 3.35322 17.157 4.29127 16.5787 4.87118Z" fill="#999999")

.technical__wrap.technical__wrap--1.technical__wrap-back
  .technical__contacts.contacts
    .technical__sub-title.contacts__title Контакты спикера:
    a.contacts__link(href="mailto:primer@gmail.com") primer@gmail.com
    a.contacts__tel(href="tel:+7 123 456 78 90") +7 123 456 78 90
    a.contacts__link(href="radislavgandapas.com") radislavgandapas.com
    ul.contacts__social.social
      li.social__item
        a.social__link(href="#")
          img(src="./img/social-vk.svg", alt="спикер вконтакте" width="30" height="30")
      li.social__item
        a.social__link(href="#")
          img(src="./img/social-fb.svg", alt="спикер в фейсбуке" width="30" height="30")
      li.social__item
        a.social__link(href="#")
          img(src="./img/social-inst.svg", alt="спикер в инстаграмме" width="30" height="30")
.technical__wrap.technical__wrap--2
  .technical__wrap-back.technical__verify.active
    .technical__sub-title Верификация:
    span.technical__verify-ok Пройдена
    span.technical__verify-no Не пройдена
  .technical__wrap-back
    .technical__sub-title Популярность:
    span.technical__desc 253 просмотра
.technical__wrap.technical__wrap--3.technical__wrap-back
  .technical__sub-title Комментарий по работе:
  p.technical__desc Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в профессии по результатам года. Лауреат Книжной премии Рунета 2013.
  