h3.card__title.technical__title Служебный блок
button.technical__edit-btn(type="button") Редактировать

.technical__wrap.technical__wrap-back
  .technical__contacts.contacts
    .technical__title.contacts__title Контакты спикера:
    a.contacts__link(href="mailto:primer@gmail.com") primer@gmail.com
    a.contacts__tel(href="tel:+7 123 456 78 90") +7 123 456 78 90
    a.contacts__link(href="radislavgandapas.com") radislavgandapas.com
    ul.contacts__social.social
      li.social__item
        a.social__link(href="#")
          img(src="./img/social-vk.svg", alt="спикер вконтакте" width="30" height="30")
      li.social__item
        a.social__link(href="#")
          img(src="./img/social-fb.svg", alt="спикер в фейсбуке" width="30" height="30")
      li.social__item
        a.social__link(href="#")
          img(src="./img/social-inst.svg", alt="спикер в инстаграмме" width="30" height="30")
.technical__wrap
  .technical__wrap-back.technical__verify.active
    .technical__title Верификация:
    span.technical__verify-ok Пройдена
    span.technical__verify-no Не пройдена
  .technical__wrap-back
    .technical__title Популярность:
    span.technical__desc 253 просмотра
.technical__wrap.technical__wrap-back
  .technical__title Комментарий по работе:
  p.technical__desc Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в профессии по результатам года. Лауреат Книжной премии Рунета 2013.
  