.expert-one {
  .client-order {
    &.new {
      .client-order__wrap-color {
        background-color: $green;
        .client-order__label {
          color: #77dba2;
        }
      }
    }

    &.unrealized {
      .client-order__wrap-color {
        background-color: $red;
        .client-order__label {
          color: #ffa1a1;
        }
      }
    }

    &.work {
      .client-order__wrap-color {
        background-color: $orange;
        .client-order__label {
          color: #ffd1a9;
        }
      }
    }

    &.realized {
      .client-order__wrap-color {
        background-color: $blue;
        .client-order__label {
          color: #adbdff;
        }
      }
    }
  }

  .client-order__wrap-color {
    display: flex;
    justify-content: space-between;

    padding-top: 28px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .client-order__sub-wrap {
      width: 50%;
    }
  }

  .client-order__wrap {
    background-color: $white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .client-order__wrap-border {
    padding-top: 26px;
    padding-bottom: 27px;
    padding-left: 30px;
    padding-right: 21px;

    border: 1px solid #e7e7e7;
    border-top: none;
    &:nth-last-child(1) {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .client-order__sub-wrap {
      margin-bottom: 23px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }

  .client-order__sub-wrap {
    display: flex;
    flex-direction: column;
  }

  .client-order__label {
    display: block;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;

    color: #888888;
  }

  .client-order__date {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: $white;
  }

  .client-order__select-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -17px;

    .choices {
      transition: 0.4s;
    }

    .choices__inner {
      background-color: transparent;
      border: none;
      padding-bottom: 0;
      padding-left: 0;
      margin-bottom: 0;

      .choices__item--selectable {
        position: relative;
        padding-bottom: 3px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        color: $white;
      }
    }

    .choices__list--single {
      padding-left: 0;
      padding-right: 22px;
    }

    .choices[data-type*=select-one] {
      @include arrow;


      &:after {
        top: 43%;
        transform: rotate(45deg);
        border-color: $white;
      }
    }

    .is-open {
      .choices__item--selectable {
        border: none;
        color: $white;
      }

      &.choices[data-type*=select-one]:after {
        top: 60%;
        transform: rotate(225deg);
        border-color: $white;
      }

      .choices__item--choice {
        color: $black;
      }
    }

    .choices__list {
      border-radius: 3px;
      width: 150px;
      text-align: center;
      padding-bottom: 5px;
      padding-top: 5px;

      &--single {
        width: auto;
      }

      &--dropdown {
        border: none;
        overflow: visible;
        box-shadow: 0 4px 16px #e4e7ee;
        right: 0;

        &::after {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 75px;
          border-radius: 3px;
          background-color: $white;
        }

        &::before {
          content: '';
          z-index: -1;
          position: absolute;
          top: -8px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
          width: 17px;
          height: 17px;
          border-top-left-radius: 3px;
          box-shadow: 0 4px 16px #e4e7ee;
          background-color: $white;

          .choices__item--selectable.is-highlighted {
            background-color: #eff0f3;
          }
        }

      }
    }

    .choices[data-type*=select-one] .choices__inner {
      margin-bottom: 4px;
    }

    .choices__item {
      padding-bottom: 4px;
      padding-top: 4px;

      &.is-selected {
        display: none;
      }
    }

    .choices__list--dropdown .choices__item--selectable:after {
      content: '';
    }

    .choices__list--dropdown .choices__item--selectable {
      padding-right: 10px;
    }

    .choices__input,
    .choices__item--disabled {
      display: none;
    }
  }

  .client-order__name,
  .client-order__company,
  .client-order__tel,
  .client-order__mail {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }

  .client-order__name {
    @include animation-dark--blue;
    color: $blue;
  }

  .client-order__tel,
  .client-order__mail {
    @include animation;
  }

  .client-order__speakers-order {}

}

// @media (min-width: $tablet-width) {.expert-one {}}
// @media (min-width: $desktop-width) {.expert-one {}}