.expert-one {
  .order-technical {}

  .order-technical__header {
    margin-bottom: 40px;
  }

  .order-technical__filter-clients {}

  .order-technical__wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .order-technical__clients {}

}

@media (min-width: $tablet-width) {
  .expert-one {
    .order-technical__header {
      margin-bottom: 2px;
    }

    .order-technical__wrap {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    .order-technical__filter-clients {
      margin-bottom: 26px;
    }
  }
}

@media (min-width: $desktop-width) {
  .expert-one {
    .order-technical__wrap {
      width: 1050px;
    }
  }
}