$font-main: "Roboto", sans-serif;
$mobile-width: 320px;
$tablet-width: 820px;
$desktop-width: 1220px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: rgb(255, 255, 255);
$black: #212121;
$grey: #eff0f3;
$blue: #3d4f9c;
$red: #eb5757;
